<app-task-form *ngIf="openTaskForm"></app-task-form>
<app-state-manager *ngIf="openStateManager"></app-state-manager>

<div class="header-container">
  <div class="header-top">
    <div class="app-title">Task App</div>
    <div class="search-bar">
      <input type="text" placeholder="Buscar" />
      <mat-icon class="search-icon">search</mat-icon>
    </div>
    <div class="btn-section">
      <div class="btn btn-add">
        <mat-icon>add_circle</mat-icon>
        <span>Añadir tarea</span>
      </div>
      <div class="btn btn-state">
        <img src="assets/icons/state-icon.svg" class="state-icon" alt="" />
        <span>Gestionar estados</span>
      </div>
    </div>
  </div>
  <div class="header-buttom">
    <span class="section-btn">Tabla</span>
    <span class="section-btn">Tarjetas</span>
  </div>
</div>
