.header-container {
  display: flex;
  flex-direction: column;
  padding: 30px 40px 0 40px;
  border-bottom: 1px solid #d3d3d3;
  gap: 15px;
  height: 125px;

  .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .app-title {
      font-size: 24px;
      font-weight: 500;
      margin-right: 50px;
    }

    .search-bar {
      position: relative;
      height: 40px;
      flex: max-content;

      input {
        width: -webkit-fill-available;
        position: relative;
        height: inherit;
        padding-left: 10px;
        border-radius: 50px;
        font-size: 15px;
        border: 1px solid #ccc;
        outline: none;
        border-color: #d3d3d3;
        color: black;
      }

      input:focus {
        border: 0.5px solid #7487eb;
      }

      input:focus + .mat-icon {
        color: #7487eb;
      }

      input::placeholder {
        color: #d3d3d3;
      }

      .mat-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        color: #b6b6b6;
      }
    }
    .btn-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      .btn {
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 50px;
        padding: 8px 25px;
        font-size: 13px;
        font-weight: 400;
        color: white;
        background-color: #7487eb;
        cursor: pointer;
      }

      .btn-add:hover {
        background-color: #5f6cc1;
        transition: background-color 0.3s ease-in-out;
      }

      .btn-state {
        border: 1px solid #7487eb;
        background-color: white;
        color: #7487eb;
      }

      .btn-state:hover {
        background-color: #7487eb;
        color: white;
        transition: background-color 0.3s ease-in-out;
        transition: color 0.3s ease-in-out;
      }
    }
  }

  .header-buttom {
    display: flex;
    gap: 40px;

    .section-btn {
      height: 40px;
      display: flex;
      justify-content: center;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
