<div class="board-container">
  <div class="state-container">
    <div class="state-title">
      <div class="state-name">
        <mat-icon>star</mat-icon>
        Pendiente
      </div>
      <span class="state-number"> 3/6 </span>
    </div>
    <div class="cards-container">
      <div class="card">
        <span class="options-icon">
          <img src="assets/icons/options-icon.svg" alt="" />
        </span>
        <div class="card-title">Texto por defecto</div>
        <span class="task-date">24/12/2024</span>
      </div>
    </div>
  </div>
  <div class="state-container">
    <div class="state-title" style="background-color: #ffd8bc">
      <div class="state-name" style="background-color: #fe7e21">
        <mat-icon>check_box</mat-icon>
        En progreso
      </div>
      <span
        class="state-number"
        style="background-color: #ffd8bc; color: #fe7e21"
      >
        2/6
      </span>
    </div>
    <div class="cards-container">
      <div class="card">
        <div class="card-title">Texto por defecto</div>
        <div class="actions-box">
          <span class="options-icon">
            <img src="assets/icons/options-icon.svg" alt="" />
          </span>
          <span class="task-date">24/12/2024</span>
        </div>
      </div>
    </div>
  </div>
  <div class="state-container">
    <div class="state-title" style="background-color: #c8f1f1">
      <div class="state-name" style="background-color: #48d0d0">
        <mat-icon>workspace_premium</mat-icon>
        Finalizado
      </div>
      <span
        class="state-number"
        style="background-color: #c8f1f1; color: #48d0d0"
      >
        1/6
      </span>
    </div>
    <div class="cards-container">
      <div class="card">
        <div class="card-title">Texto por defecto</div>
        <div class="actions-box">
          <span class="options-icon">
            <img src="assets/icons/options-icon.svg" alt="" />
          </span>
          <span class="task-date">24/12/2024</span>
        </div>
      </div>
    </div>
  </div>
</div>
