<div class="board-container">
  <div class="state-container">
    <div class="state-title">
      <div class="state-name">
        <mat-icon>star</mat-icon>
        Pendiente
      </div>
      <span class="state-number"> 3/6 </span>
    </div>
    <div
      class="cards-container"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event, 'Pendiente')"
    >
      <div
        class="card"
        draggable="true"
        *ngFor="let task of tasks | taskFilter : 'Pendiente'"
        (dragstart)="onDragStart(task)"
      >
        <span class="options-icon" (click)="onActionsMenu(task)">
          <img src="assets/icons/options-icon.svg" alt="" />
        </span>
        <div
          class="actions-window"
          *ngIf="taskSelected?.id === task.id && openActionsMenu"
        >
          <span class="action-item" (click)="onUpdate(task)">Editar</span>
          <span class="action-item" (click)="onEliminateTask(task)"
            >Eliminar</span
          >
        </div>
        <div class="card-title">{{ task.title }}</div>
        <span class="task-date">{{ task.date_creation }}</span>
      </div>
    </div>
  </div>
  <div class="state-container">
    <div class="state-title" style="background-color: #ffd8bc">
      <div class="state-name" style="background-color: #fe7e21">
        <mat-icon>check_box</mat-icon>
        En progreso
      </div>
      <span
        class="state-number"
        style="background-color: #ffd8bc; color: #fe7e21"
      >
        2/6
      </span>
    </div>
    <div
      class="cards-container"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event, 'En progreso')"
    >
      <div
        class="card"
        draggable="true"
        *ngFor="let task of tasks | taskFilter : 'En progreso'"
        (dragstart)="onDragStart(task)"
      >
        <span class="options-icon" (click)="onActionsMenu(task)">
          <img src="assets/icons/options-icon.svg" alt="" />
        </span>
        <div
          class="actions-window"
          *ngIf="taskSelected?.id === task.id && openActionsMenu"
        >
          <span class="action-item" (click)="onUpdate(task)">Editar</span>
          <span class="action-item" (click)="onEliminateTask(task)"
            >Eliminar</span
          >
        </div>
        <div class="card-title">{{ task.title }}</div>
        <span class="task-date">{{ task.date_creation }}</span>
      </div>
    </div>
  </div>
  <div class="state-container">
    <div class="state-title" style="background-color: #c8f1f1">
      <div class="state-name" style="background-color: #48d0d0">
        <mat-icon>workspace_premium</mat-icon>
        Finalizado
      </div>
      <span
        class="state-number"
        style="background-color: #c8f1f1; color: #48d0d0"
      >
        1/6
      </span>
    </div>
    <div
      class="cards-container"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event, 'Finalizado')"
    >
      <div
        class="card"
        draggable="true"
        *ngFor="let task of tasks | taskFilter : 'Finalizado'"
        (click)="onActionsMenu(task)"
      >
        <span class="options-icon" (click)="onActionsMenu(task)">
          <img src="assets/icons/options-icon.svg" alt="" />
        </span>
        <div
          class="actions-window"
          *ngIf="taskSelected?.id === task.id && openActionsMenu"
        >
          <span class="action-item" (click)="onUpdate(task)">Editar</span>
          <span class="action-item" (click)="onEliminateTask(task)"
            >Eliminar</span
          >
        </div>
        <div class="card-title">{{ task.title }}</div>
        <span class="task-date">{{ task.date_creation }}</span>
      </div>
    </div>
  </div>
</div>
