<div class="form-container {{ close ? 'close' : '' }}">
  <div class="form-container-box {{ close ? 'close' : '' }}">
    <div class="top-section">
      <span class="close-circle">
        <mat-icon class="btn-close" (click)="onClose()">close</mat-icon>
      </span>
      <span class="form-title">Gestionar estados</span>
    </div>
    <div class="main-section">
      <div class="form-section">
        <form [formGroup]="stateForm" (ngSubmit)="onSubmit()">
          <div class="form-box">
            <input type="text" name="title" formControlName="title" />
            <span class="error-message" *ngIf="errorMessage"
              ><mat-icon class="error-icon">error</mat-icon>Debe añadir un
              titulo para crear la tarea</span
            >
          </div>
          <button class="btn btn-add" type="submit">Agregar</button>
          <span class="cancel-btn">
            <mat-icon>close</mat-icon>
          </span>
        </form>
      </div>
      <div class="states-container">
        <div class="state-box">
          <span class="state-title">Archivado</span>
          <div class="state-actions">
            <span class="action-box edit-btn">
              <img src="assets/icons/edit-icon.svg" alt="" />
            </span>
            <span class="action-box delete-btn">
              <img src="assets/icons/delete-icon.svg" alt="" />
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
