.form-container {
  position: fixed;
  background: rgba($color: #d9d9d9, $alpha: 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  animation: fadeIn 0.5s ease forwards;
  backdrop-filter: blur(2px);

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .form-container-box {
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    opacity: 0;
    z-index: 1200;
    transition: opacity 0.5s ease-in-out;
    animation: fadeIn 0.5s ease forwards;
    font-family: "Poppins";

    @keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    .top-section {
      border-bottom: 0.5px solid #d3d3d3;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 8px;
      position: relative;

      .form-title {
        color: black;
        font-size: 16px;
        font-weight: 400;
      }

      .date-field {
        color: #bdbdbd;
        font-size: 12px;
      }

      .close-circle {
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f5f5f5;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        right: 10px;

        .btn-close {
          color: #747474;
          cursor: pointer;
        }
      }

      .close-circle:hover {
        background-color: #ebeaea;
        .btn-close {
          color: #606060;
          cursor: pointer;
        }
      }
    }

    .main-section {
      padding: 0 30px;

      form {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 20px 0;

        .form-box {
          display: flex;
          flex-direction: column;
          gap: 10px;

          label {
            font-size: 14px;
            color: black;
            font-weight: 400;
          }

          textarea {
            border-radius: 10px;
            border: 0.5px solid #d3d3d3;
            resize: none;
            padding: 5px;
            font-weight: 400;
            font-size: 14px;
            font-family: "Poppins";
          }

          textarea:focus {
            outline: none;
            border: 0.2px solid #7487eb;
          }

          .field-error {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 7px 0;
            font-size: 14px;
            color: rgb(251, 46, 46);
          }
        }

        .btns-section {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;

          .btn {
            display: flex;
            align-items: center;
            gap: 10px;
            border-radius: 50px;
            padding: 8px 25px;
            font-size: 13px;
            font-weight: 400;
            color: white;
            background-color: #7487eb;
            cursor: pointer;
            border-style: none;
          }

          .btn-add:hover {
            background-color: #5f6cc1;
            transition: background-color 0.3s ease-in-out;
          }

          .btn-cancel {
            border: 1px solid #7487eb;
            background-color: white;
            color: #7487eb;
          }

          .btn-cancel:hover {
            background-color: #7487eb;
            color: white;
            transition: background-color 0.3s ease-in-out;
            transition: color 0.3s ease-in-out;
          }
        }
      }
    }
  }

  .form-container-box.close {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    animation: fadeoff 0.5s ease forwards;

    @keyframes fadeoff {
      from {
        opacity: 1;
      }

      to {
        opacity: 0;
      }
    }
  }
}

.form-container.close {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  animation: fadeoff 0.5s ease forwards;

  @keyframes fadeoff {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }
}

@media screen and (max-width: 470px) {
  .form-container {
    .form-container-box {
      width: 90%;
    }
  }
}
