<div class="form-container {{ close ? 'close' : '' }}">
  <div class="form-container-box {{ close ? 'close' : '' }}">
    <div class="top-section">
      <span class="close-circle">
        <mat-icon class="btn-close" (click)="onClose()">close</mat-icon>
      </span>
      <span class="form-title">{{ update ? "Editar" : "Crear" }} tarea</span>
      <span class="date-field">{{ getCurrentDate() }}</span>
    </div>
    <div class="main-section">
      <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
        <div class="form-box">
          <label for="title">Titulo</label>
          <textarea name="title" formControlName="title" rows="12"></textarea>
          <div
            class="field-error"
            *ngIf="taskForm.get('title')?.errors?.['required'] && errorMessage"
          >
            <mat-icon class="error-icon">error</mat-icon>
            Este campo es obligatorio.
          </div>

          <div
            class="field-error"
            *ngIf="taskForm.get('title')?.errors?.['maxLength']"
          >
            <mat-icon class="error-icon">error</mat-icon> El estado no puede
            exceder los 80 caracteres.
          </div>
        </div>
        <div class="btns-section">
          <button class="btn btn-cancel" (click)="closeWindow($event)">
            Cancelar
          </button>
          <button class="btn btn-add" type="submit">
            {{ update ? "Editar" : "Crear" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
