<div class="list-container">
  <div class="states-section">
    <span class="state-btn all-state">Todas</span>
    <span class="state-btn pending-state">Pendiente</span>
    <span class="state-btn process-state">En Proceso</span>
    <span class="state-btn finish-state">Finalizado</span>
  </div>
  <div class="task-section">
    <div class="task-box">
      <span class="task-title"> titulo </span>
      <div class="actions-section">
        <span class="state-box">Pendiente</span>
        <div class="actions-box">
          <span class="options-icon">
            <img src="assets/icons/options-icon.svg" alt="" />
          </span>
          <span class="task-date">25/12/2024</span>
        </div>
      </div>
    </div>
  </div>
</div>
