.list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 40px;
  height: calc(100vh - 125px);

  .states-section {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;

    .state-btn {
      font-size: 14px;
      border-radius: 5px;
      color: white;
      padding: 5px 10px;
      cursor: pointer;
      color: white;
    }
  }

  .task-section {
    background-color: rgba(236, 238, 240, 0.7);
    border-radius: 10px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    max-height: -webkit-fill-available;
    overflow-y: auto;

    .task-box {
      border-radius: 10px;
      padding: 5px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      height: 75px;
      box-shadow: 0px 1px 4px rgba(106, 106, 106, 0.25);
      position: relative;

      .task-title {
        font-size: 16px;
      }

      .actions-section {
        display: flex;
        align-items: center;
        gap: 30px;

        .state-box {
          font-size: 13px;
          color: white;
          background-color: #7487eb;
          padding: 5px 15px;
          border-radius: 5px;
        }

        .actions-box {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .options-icon {
            transform: rotate(90deg);
            width: 30px;
            margin-left: auto;
            height: 30px;

            img {
              height: inherit;
              width: inherit;
              cursor: pointer;
            }
          }

          .task-date {
            font-size: 14px;
            color: #bdbdbd;
          }
        }
      }

      .actions-window {
        top: 10px;
        right: 40px;
        font-family: "Poppins";
        position: absolute;
        display: flex;
        flex-direction: column;
        font-size: 13px;
        border-radius: 10px;
        box-shadow: 0px 1px 4px rgba(106, 106, 106, 0.25);
        background-color: white;
        z-index: 500;
        overflow: hidden;

        .action-item {
          padding: 7px 12px;
          border-bottom: 1px solid #d3d3d3;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }

        .action-item:hover {
          background-color: #7487eb;
          color: white;
        }

        .action-state {
          border-radius: 7px;
          background-color: #7487eb;
          color: white;
          padding: 3px 10px;
          margin: 8px;
          cursor: pointer;
        }

        .action-state:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  .task-section::-webkit-scrollbar {
    width: 9.5px;
    background-color: #ececec;
  }

  .task-section::-webkit-scrollbar-thumb {
    background-color: #9b9b9b;
    border-radius: 3px;
  }
}

/* Dispositivos pequeños (smartphones en retrato) */
@media screen and (max-width: 470px) {
  .list-container {
    .task-section {
      min-width: 395px;
      overflow-y: hidden;
      overflow-x: hidden;

      .task-box {
        height: auto;
      }
    }
  }
}
