<div class="list-container">
  <div class="states-section">
    <span class="state-btn all-state">Todas</span>
    <span class="state-btn pending-state">Pendiente</span>
    <span class="state-btn process-state">En Proceso</span>
    <span class="state-btn finish-state">Finalizado</span>
  </div>
  <div class="task-section" *ngIf="tasks.length > 0">
    <div class="task-box" *ngFor="let task of tasks">
      <span class="task-title"> {{ task.title }}</span>
      <div class="actions-section">
        <span class="state-box">{{ task.state }}</span>
        <div class="actions-box">
          <span class="options-icon" (click)="onActionsMenu(task)">
            <img src="assets/icons/options-icon.svg" alt="" />
          </span>
          <span class="task-date">{{ task.date_creation }}</span>
        </div>
      </div>
      <div
        class="actions-window"
        *ngIf="taskSelected?.id === task.id && openActionsMenu"
      >
        <span class="action-item" (click)="onUpdate(task)">Editar</span>
        <span class="action-item" (click)="onEliminateTask(task)"
          >Eliminar</span
        >
        <span class="action-state">Pendiente</span>
      </div>
    </div>
  </div>
</div>
